:root {
    --color-true: #43C62D;
    --color-fake: #E41B1B;
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}

.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}

.gradient-custom {
    background: linear-gradient(98deg, #15A8FA -11%, #8AC6E8 104.27%, #8AC6E8 104.27%);
}


.block-text {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.text-justify {
    text-align: justify;
}

.color-gray-medium {
    color: #888888;
}

.color-gray-dark {
    color: #454545;
}

.loading-btn:hover {
    filter: brightness(0.9);
}

.send-img {
    background-image: url(../img/send.svg);
    background-size: cover;
}

.hidden {
    visibility: hidden;
    height: 0%;
    width: 0%;
}

.circle-true {
    width: 100vmin;
    height: 100vmin;
    background-color: var(--color-true);
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: expandAndFade 3s ease-out forwards;
    z-index: -1; /* Coloca a circunferência no fundo */
}

.circle-fake {
    width: 100vmin;
    height: 100vmin;
    background-color: var(--color-fake);
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: expandAndFade 3s ease-out forwards;
    z-index: -1; /* Coloca a circunferência no fundo */
}

@keyframes expandAndFade {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

@media (min-width: 992px) {
    .text-input-custom {
        width: 73%;
        border: 2px solid #b5b5b5;
    }

    .select-custom {
        width: 25%;
    }
}