{% extends 'layout.html' %}
{% block content %}

<section class="container">
    <div class="px-5 my-5">
        <p class="poppins-medium h3">
            Conecte-se à realidade com um filtro aguçado e fontes confiáveis. 🕵️
        </p>
    </div>
    <div class="px-5 my-4">
        <form class="row justify-content-end forms">
            <div class="col-md-12 poppins-medium my-4 block-text p-3 rounded-2 h-100">
                <select class="form-select poppins-medium border-2 text-center" name="type" id="type" onchange="changePlaceholder()" required>
                    <option selected value="text">Texto</option>
                    <option value="link">Link</option>
                </select>
                <input id="text" type="text" name="text" class="border-1 rounded-2 border-opacity-25 poppins-regular w-100 h-75 mt-2 ps-3 p-2" placeholder="Cole o texto aqui..." name="text" autocomplete="off" required>
            </div>
            <div class="col-md-12 d-flex justify-content-end p-0">
                <button id="loadingButton" type="submit" class="btn loading-btn border-0 gradient-custom w-100">
                    <img src="{{ url_for('static', path='/img/send.svg') }}" alt="Enviar" class="img-fluid">
                </button>
            </div>
        </form>
    </div>
    <div class="prediction-result m-2 p-2 text-center" id="result">
        <!-- Resultado da previsão aqui -->
    </div>
    <div class="mx-5">
        <h5 class="h6 color-gray-dark">
            <b>Como funciona?</b>
        </h5>
        <p class="font-size-custom text-justify color-gray-medium">
            O Inspector é como um amigo inteligente que compreende palavras de maneira única. Através de um treinamento especial, ele aprendeu o significado das palavras e como elas se encaixam em diferentes situações. Ao enviar suas notícias, ele não apenas analisa palavras isoladas, mas entende o contexto para fornecer respostas personalizadas e úteis. Imagine ter uma conversa com um amigo que sempre tem as informações certas. Assim é o Inspector, tornando sua interação mais fácil e amigável!
        </p>
    </div>
</section>

{% endblock %}